@model ParkingOnline.UI.Models.ListaPaginada<ClienteModel>

@{
    ViewData["Title"] = "Clientes";
    var filtroAtual = ViewData["FiltroAtual"] as string;
    var tamanhoPagina = ViewData["TamanhoPagina"] != null ? (int)ViewData["TamanhoPagina"] : 10;
}

<h1>Clientes</h1>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Cadastrar", "Create", "Cliente", null, new { @class = "btn btn-outline-primary btn-sm" })
    </div>
    <div class="col-md-6">
        <form asp-action="Index" method="get">
            <div class="input-group filtro">
                @Html.TextBox("Filtro", filtroAtual, new { @class = "form-control form-control-sm", @placeholder = "Filtrar por nome", @aria_label = "Filtrar por nome", @aria_describedby = "btn-filtrar" })
                <input type="hidden" name="indicePagina" value="1" />
                <input type="hidden" name="tamanhoPagina" value="@tamanhoPagina" />
                <input id="btn-filtrar" type="submit" value="Filtrar" class="btn btn-outline-secondary btn-sm" />
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                @if (item.Veiculo == null)
                {
                    <td>
                        @Html.ActionLink("Cadastrar", "Create", "Veiculo", new { id = item.Id }, new { @class = "btn btn-outline-light btn-sm" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink(item.Veiculo.Placa, "Edit", "Veiculo", new { id = item.Veiculo.Id }, new { @class = "btn btn-outline-light btn-sm" })
                    </td>
                }
                <td>
                    @{
                        var modalConfirmarExclusao = $"modalConfirmarExclusao{item.Id}";
                    }
                    @Html.ActionLink("Editar", "Edit", "Cliente", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                    <input type="button" value="Excluir" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#@modalConfirmarExclusao" />
                    <div class="modal fade" id="@modalConfirmarExclusao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir registro</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Confirma a exclusão do registro?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Não</button>
                                    <form asp-action="Delete">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Sim" class="btn btn-danger btn-sm" data-bs-dismiss="modal" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Navegação de página">
    <ul class="pagination justify-content-center">
        @if (Model.TemPaginaAnterior)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { filtro = filtroAtual, indicePagina = Model.IndicePagina - 1, tamanhoPagina = tamanhoPagina })">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        }
        @for (int i = 1; i <= Model.TotalPaginas; i++)
        {
            if (i == Model.IndicePagina)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { filtro = filtroAtual, indicePagina = i, tamanhoPagina = tamanhoPagina })">@i</a>
                </li>
            }
        }
        @if (Model.TemProximaPagina)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { filtro = filtroAtual, indicePagina = Model.IndicePagina + 1, tamanhoPagina = tamanhoPagina })">Próxima</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><span class="page-link">Próxima</span></li>
        }
    </ul>
</nav>