@model IEnumerable<ClienteModel>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<hr />
<p>
    @Html.ActionLink("Cadastrar", "Create", "Cliente", null, new { @class = "btn btn-outline-primary btn-sm" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                @if (item.Veiculo == null)
                {
                    <td>
                        @Html.ActionLink("Cadastrar", "Create", "Veiculo", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink(item.Veiculo.Placa, "Edit", "Veiculo", new { id = item.Veiculo.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                    </td>
                }
                <td>
                    <form asp-action="Delete">
                        @Html.ActionLink("Editar", "Edit", "Cliente", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Excluir" class="btn btn-outline-danger btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>