@model IEnumerable<VeiculoModel>

@{
    ViewData["Title"] = "Veículos";
}

<h1>Veículos</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome) | @Html.DisplayNameFor(model => model.Cliente.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @{
                        var dadosCliente = item.Cliente.Telefone;

                        if (!string.IsNullOrWhiteSpace(item.Cliente.Nome))
                        {
                            dadosCliente = $"{item.Cliente.Nome} | " + dadosCliente;
                        }

                    }
                    @Html.ActionLink(dadosCliente, "Edit", "Cliente", new { id = item.ClienteId }, new { @class = "btn btn-outline-primary btn-sm" })
                </td>
                <td>
                    <form asp-action="Delete">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Excluir" class="btn btn-outline-danger btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>