@model IEnumerable<VagaModel>

@{
    ViewData["Title"] = "Vagas";
}

<h1>Vagas</h1>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Cadastrar", "Create", "Vaga", null, new { @class = "btn btn-outline-primary btn-sm" })
    </div>
    <div class="col-md-6">
        <form asp-action="Index">
            <div class="input-group filtro">
                @Html.TextBox("Filtro", ViewData["FiltroAtual"] as string, new { @class = "form-control form-control-sm", @placeholder = "Filtrar por localização", @aria_label = "Filtrar por localização", @aria_describedby = "btn-filtrar" })
                <input id="btn-filtrar" type="submit" value="Filtrar" class="btn btn-outline-secondary btn-sm" />
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupada)
                </td>
                <td>
                    @{
                        var modalConfirmarExclusao = $"modalConfirmarExclusao{item.Id}";
                    }
                    @Html.ActionLink("Editar", "Edit", "Vaga", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                    <input type="button" value="Excluir" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#@modalConfirmarExclusao" />
                    <div class="modal fade" id="@modalConfirmarExclusao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir registro</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Confirma a exclusão do registro?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Não</button>
                                    <form asp-action="Delete">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Sim" class="btn btn-danger btn-sm" data-bs-dismiss="modal" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>