@model IEnumerable<VagaModel>

@{
    ViewData["Title"] = "Vagas";
}

<h1>Vagas</h1>

<hr />
<p>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupada)
                </td>
                <td>
                    <form asp-action="Delete">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Excluir" class="btn btn-outline-danger btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>